apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: chat-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      name: backend-prod 
      namespace: chat-app
      labels:
        app: backend
    spec:
      containers:
        - name: chatapp-backend
          image: priyanshu0906/chatapp-backend:latest
          ports:
            - containerPort: 5001
          env:
            - name: NODE_ENV
              value: "production"
            - name : MONGODB_URI
              value: "mongodb://root:root@mongo-service:27017/chatApp?authSource=admin"
            - name: PORT
              value: "5001"
            - name: JWT_SECRET
              value : "pass"  